.embla {
  margin-top: 200%;
    position: relative;
  
    padding: 10px;
    max-width:400px;
    max-height:500px;
    margin: auto;
    display: flex;
    align-content: center;
    
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: rgba(167, 7, 135, 0.56) 0px 22px 70px 4px;

  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
  }
  
  .embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 400px;
    object-fit: cover;
  }
  
  .embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
   
  }
  
  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 33%;
    transform: translateY(200%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: rgb(217 119 6);
    padding: 0;
  }
  
  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  
  .embla__button__svg {
    width: 100%;
    height: 100%;
  }
  
  .embla__button--prev {
    left: -50px;
    transition-delay: 0.5;
  }
 
  
  .embla__button--next {
    right: -50px;
  }
  