body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
  
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
} 

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 600px){
  .main{
    margin-top: 20%;
  }
}

.div{
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(315deg, rgb(24, 2, 48) 0%, #000000 90%);
  background-attachment: scroll;
  background-size: fixed;
}