
:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 90px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

.nav{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(24,28,30,0.4);
  transition: 200ms ease;
  height: 6%;
  width: 100%;
  max-width: 1420px;
}
.navbar_menu{
  position: absolute;
  right: 0;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
 align-items: center;
}
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 300px;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}
.dropdownText{
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin-left: 5%;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}
.dropdownText:hover{
  filter: grayscale(0%) opacity(1);
  transition: 600ms;
}
.menu_items{
  list-style-type: none;
  height: 50px;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
.menu_items li{
  cursor: pointer;
  margin-bottom: 0.7rem;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}
.menu_items li:hover{
  color: #fffeff;
  filter: grayscale(0%) opacity(1);
  transition: 600ms;
}
.login_item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
.login_item:hover{
  background-color: #525357;
}
.icon_button{
  color: #b879ff;
  width: 40px;
  height: 40px;
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 600ms;
  filter: grayscale(100%) opacity(0.7);
}
.icon_button:hover{
  transition: 600ms;
  filter: grayscale(0) opacity(1);
}
.logo{
  height: 10rem;
  width: 10rem;
  user-select: none;
}
.icons{
  cursor: pointer;
  width: 45px;
  height: 45px;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
  user-select: none;
}
.iconsOn{
  width: 45px;
  height: 45px;
  filter: grayscale(0) opacity(1);
  transition: 600ms;
}
.dots{
  color: #6649b8;
  width: 45px;
  height: 45px;
  user-select: none;
  cursor: pointer;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
  
}
.dots:hover{
  filter: grayscale(0) opacity(1);
  transition: 600ms;
}
.fadeIn{
  animation: fadeInKey 1s;
}
@keyframes fadeInKey{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.fadeOut{
  animation: fadeOutKey 1s;
}
@keyframes fadeOutKey{
  100%{
    opacity: 1;
  }
  0%{
    opacity: 0;
  }
}