.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 40px inset !important;
    box-shadow: 0 0 0 40px inset !important;
    box-sizing: 0 0 0 40px red inset !important;
    -webkit-text-fill-color: white;
}